a, a:hover, a:active, a:focus {
    text-decoration: none;
}
.top-line a{
    color: black;
}
@media (min-width: 999px) {

.header {
    background-color: white;
    position: relative;
    display: inline-block;
    width: 100%;
}
.top-line{
    text-align: center;
    position: relative;

}
.burger{
    display: none;
}
.main-menu{
    display: block;
}
.elements-of-menu{
    background-color: #b2b2b2;
    z-index: 1;
    width: 100%;
    position: absolute;
    display: flex;

}

.link-menu>li{
    display: inline-block;
    margin-right: inherit;
    font-size: 20px;
    position: relative;
    padding: 1% 3% 0;
}
.right-menu{
    width: 20%;
    list-style: none;
    text-align: right;
    padding: 0.7% 1% 0;
    font-size: 18px;
}
.right-menu>li{
    list-style: none;
    display: inline-block;
    padding: 0 12% 0;
    font-size: 22px;
    position: relative;
}
.right-menu>li:hover a{
    text-decoration: none;
}
.elements-of-menu a{
    color: black;
}

.elements-of-menu .drop-down{
    position: fixed;
    width: 100%;
    margin-top: 25px;
    left: -0.1px;
    list-style: none;
    background-color: #b2b2b2;
    display: none;
}
.elements-of-menu>.link-menu>li:hover .drop-down{
    display: inline-block;

}
.link-menu>li:hover a{
    color: white;
    text-decoration: none;
}
.elements-of-menu>.link-menu>li:hover .drop-down a{
    color: black;
}
.elements-of-menu>.link-menu>li:hover .drop-down>li>ul>li:hover a{
    color: white;

}

.elements-of-menu>.link-menu>li:hover .drop-down{
    display: inline-block;
}
.drop-down>li{
    list-style: none;
    display: inline-grid;
    padding: 1% 10%;
}
.drop-down>li>ul{
    padding: 0;
}
.drop-down>li>ul>li{
    list-style: none;
    text-align: left;
}
.link-menu {
    width: 100%;
    list-style: none;
    text-align: center;
    padding-left: 210px;
}
h1{
    font-weight: 600;
    font-size: 25px;
}
}
@media (max-width: 1000px) {
    .elements-of-menu{
        display: none;
        width: 100%;
        background-color: white;
        position: center;
    }
    .elements-of-menu a{
        color: black;
    }
    .link-menu{
        list-style: none;
        height: 220px;
        text-align: center;

    }
    .right-menu{
        list-style: none;
        text-align: center;
    }
    .drop-down{
        display: none;

    }
    .top-line{
        padding-left: 30px;
        font-size: 20px;
        text-align: left;
        position: relative;
        display: flex;
    }
    .burger{
        display: inline-block;
        position: absolute;
        right: 7%;
        top: 15%
    }
    .burger a{
        color: black;

    }
    .right-menu>li{
        display: inline-flex;
        padding-left: 15%;
        padding-right: 15%;
    }

    .link-menu>li{
        top: 7%;
        font-size: 20px;
        position: relative;
        padding: 1% 3% 0;
    }
    .link-menu>li:hover a{
        color: darkgrey;
        text-decoration: none;
    }
}