.head-vertical-component {
    flex-grow: 1;
}

.head-vertical-categories {
    width: 100%;
    height: 100%;
    list-style: none;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.head-vertical-categories li {
    margin: 1% 15%;
}

.head-vertical-categories .first-element {
    font-weight: bold;
}

.head-vertical-categories a {
    color: #98978B;
}

.head-vertical-categories a:hover {
    color: #3d4043;
}
