.head-component {
    background-color: #3d4043;
    position: fixed;
    width: 100%;
    z-index: 1;
}

.categories {
    width: 100%;
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.categories a {
    color: #98978B;
    font-size: 16px;
    line-height: 70px;
    padding-right: 100px;
    text-decoration: unset;
}

.categories a:hover {
    color: #ffffff;
    text-decoration: unset;
    overflow: hidden;
}

.categories img {
    width: 100px;
}

.mobile-categories img {
    width: 100px;
}

.sign a {
    color: #ffffff;
    text-decoration: unset;
}

.sign a:hover {
    text-decoration: underline;
}

ul.categories > li {
    align-items: center;
    list-style: none;
    display: flex;
    z-index: 1;
    justify-content: center;
}

.first-child {
    height: 100%;
}

.head-component-li {
    flex-grow: 1;
}

.mobile-categories {
    display: none;
}

@media (min-width: 1217px) {
    .submenu {
        z-index: -1;
        padding: 5px 10px;
        overflow: hidden;
        display: none;
        width: 200px;
        position: absolute;
        top: 71px;
        background-color: white;
        list-style: none;
    }

    .submenu li:hover {
        display: block;
        padding-left: 3px;
        background-color: transparent;

    }

    .categories li:hover .submenu {
        display: block;
    }

    .submenu a {
        color: #60666c;
    }

    .submenu a:hover {
        color: black;
    }
}

@media (max-width: 1217px) {
    .submenu {
        display: none;
    }

    .head-component-li {
        width: 30px;
    }

    .head-component-li a {
        overflow: hidden;
    }

    .signin {
        padding-left: 25px;
    }
}

@media (max-width: 750px) {
    .categories a {
        font-size: 14px;
    }

    .categories img {
        width: 93px;
    }
}

@media (max-width: 665px) {
    .categories {
        display: none;
    }

    .mobile-categories {
        display: block;
        flex-direction: row;
        list-style: none;
    }

    .mobile-categories li{
        flex-grow: 1;
    }
}
