.main-cards-component{
    flex: 0;
    position: relative;
    width: 100%;
}
@media (min-width: 1039px) {

    .main-cards-component > * {
        padding: 10px;
    }

    #imgCard {
        width: 47vw;
        padding: 1vw;
    }
    #imgCard:hover{
        opacity: 0.6;
    }
    .title-for-card{
        display: none;
        position: absolute;
        color: black;
        top	: 17vw;
        left: 12vw;
        font-size: 1.8vw;
        font-family: "Yu Gothic UI Semilight";
        font-stretch: expanded;
        font-weight: bolder;
    }

}
@media (max-width: 1038px) {
    #imgCard{
        padding: 1vw 0 1vw 2vw;
        width: 97vw;
    }
}