.carousel-wrapper{
}

.carousel-item{
}

.carousel-img-wrapper{
    height: 413px;
    width: 552px;
    background: url("https://s1.1zoom.ru/b5050/709/293555-alexfas01_1440x900.jpg") center no-repeat;
    display: flex;
    justify-content: space-between;
}

.carousel-arrow-left{
    background: url("//staticpages.mngbcn.com/homes/images/fw18/she/julio/she_09_2017_campaign_arrow-left.svg?imwidth=1366&imdensity=1") center no-repeat;
    height: 100%;
    width: 17px;
    float: left;
    flex: 0 0 auto;
}

.carousel-arrow-right{
    background: url("http://staticpages.mngbcn.com/homes/images/fw18/she/julio/she_09_2017_campaign_arrow-right.svg?imwidth=1366&imdensity=1") center no-repeat;
    height: 100%;
    width: 17px;
    float: right;
    flex: 0 0 auto;
}
