.suits {
    height: 70%;
    width: 50%;
    margin: 0 auto;
    padding-top: 5%;
}

.suits .item h3 {
    position: absolute;
    padding-left: 100%;
    color: aqua;
}

.suits .item p {
    position: absolute;
}
